@font-face {
    font-family: 'Poppins';
    src: url(/fonts/poppins-regular-webfont.woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: #000;
}
::-webkit-scrollbar{
    display: none;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -20px 0 0 0;
    position: sticky;
    top: 0px;
    background-color: white;
    padding: 20px 20px;
}
.nav i{
    font-size: 20px;
    cursor: pointer;
}
.product{
    padding: 20px;
}
.menu{
    width: 100%;
    text-align: center;
    background-image: linear-gradient(140deg, #7caae2,#f29feb);
    margin-top: 60px;
    padding-bottom: 40px;
    position: absolute;
    display: none;
}
.act{
    display: block;
}
.menu ul{
    list-style: none;
    color: #fff;
    font-weight: 600;
}
.menu ul li{
    margin-top: 20px;
    font-size: 20px;
    background-image: linear-gradient(140deg, #7caae2,#f29feb);
    padding: 10px 30px;
}
.banar{
    display: flex;
    background-image: linear-gradient(140deg, #7caae2,#f29feb);
    border-radius: 25px;
    padding: 20px 10px 2px;
    margin: 50px 12px 8px;
    justify-content: space-between;
}
.banar .text{
    color: #fff;
    margin-top: 10px;
}
.banar .text h5{
    font-size: 11px;
    font-weight: 300;
}
.banar .text h2{
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
}
.banar .text button{
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 30px;
    outline: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 11px;
    text-align: center;
    border: 0;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}
.banar img{
    width: 150px;
    padding-top: 20px;
}
.title{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 600;
}
.buttons{
    display: flex;
    align-items: center;
    margin-left: 0px;
    overflow-x: scroll;
    height: 43px;
    
}
.buttons button:first-child {
    padding: 6px 27px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-image: linear-gradient(100deg, #7caae2,#f29feb);
    color: #fff;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 500;
}
.buttons button{
    padding: 6px 27px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 8px;
    box-shadow: 0 0 4px rgba( 0, 0, 0, 0.4);
    font-weight: 600;
}
.news{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.news .title{
    font-size: 15px;
}
.news span{
    margin-top: 20px;
    font-size: 11px;
    margin-right: 20px;
    color: rgb(48, 41, 251);
    cursor: pointer;
}
.shoes{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}
.shoes .box-row{
    display: flex;
    align-items: center;
    margin: 10px 5px;
    overflow-x: scroll;
    height: 180px;

}
.box .image{
    width: 110px;
    margin: 10px 0 10px;
    padding-left: 10px;
}
.box img{
    width: 100%;
    height: 100%;
}
.shoes .box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba( 0, 0, 0, 0.3);
    margin-right: 10px;
    height: 175px;
    margin-left: 5px;
    width: 145px;
}
.box .fav{
    align-self: flex-end;
    padding-left: 100px;
    color: #999;
    font-size: 20px;
}
.box .info{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
}
.box .info .text{
    margin-right: 15px;
}
.box .info h5{
    font-size: 11px;
}
.box .info h6{
    font-size: 11px;
    margin-top: 5px;
    font-weight: 600;
}
.rating{
    display: flex;
    color: rgb(226, 192, 0);
}
.box .rating i{
    font-size: 12px;
}
.box .rating span{
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 2px;
}
.shoesimage{
    margin-top: 10px;
    padding: 25px;
}
.shoesimage img{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
    background-color: #e8e8e8;
    border-top-right-radius:30px;
    border-top-left-radius:30px;
    padding-left: 20px;
}
.container h2{
    font-size: 18px;
    margin-top: 25px;
}
.container .rating{
    font-size: 15px;
    
}
.container p{
    font-size: 11px;
    margin-top: 10px;
    line-height: 1.5;
    font-weight: 600;
}
.container p span{
    color: rgb(106, 156, 255);
}
.rating i{
    margin-top: 8px;
}
.rating span{
    margin-top: 8px;
    margin-left: 3px;
}
.rating p{
    color: #333;
    font-weight: 600;
    margin-left: 8px;
    font-size: 15px;
    margin-top: 8px;
}
.subtitle{
    margin-top: 18px;
    font-size: 18px;
    color: #222;
}
.colors{
    display: flex;
    align-items: center;
}
.colors span{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colors span:nth-child(2){
    background-color: black;
}
.colors span:nth-child(3){
    background-color: red;
}
.colors span i{
    color: #fff;
    font-size: 10px;
}
.sizes{
    margin-top: 10px;
    display: flex;
    overflow-x: scroll;
    padding: 4px ;
    margin-left: -5px;
}
.sizebox{
    display: flex;
    align-items: center;
    box-shadow: 0 3px 3px rgba( 0, 0, 0, 0.3);
    padding: 10px;
    padding-top: 15px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    color: #333;
    margin-right: 10px;
}
.sizebox:nth-child(3){
    background-image: linear-gradient(140deg, #056dec,#e88be0);
}
.container h3{
    margin-top: 5px;
    font-weight: 600;
    color: #111;
}
.container .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.container .price button{
    padding: 10px 15px;
    border-radius: 30px;
    background-image: linear-gradient(140deg, #056dec,#e88be0);
    color: #fff;
    border: none;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 15px;
}